# HighAsCG isolinux — persistence on default label (BIOS/legacy boot)
path
include isolinux.theme.cfg
default vesamenu.c32
prompt 0
timeout 100

label Live
  menu label {{{fullname}}} Live
  menu default
  say "Booting {{{fullname}}} GNU/Linux (kernel {{{kernel}}})"
  linux {{{vmlinuz}}}
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} persistence quiet splash loglevel=2 nvidia-drm.modeset=1

label Safe
  menu label {{{fullname}}} Safe Mode
  say "Booting {{{fullname}}} GNU/Linux (safe)"
  linux {{{vmlinuz}}}
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} persistence nomodeset quiet splash loglevel=2

label Text
  menu label {{{fullname}}} Text Mode
  say "Booting {{{fullname}}} GNU/Linux (text)"
  linux {{{vmlinuz}}}
  append initrd={{{initrdImg}}} {{{kernel_parameters}}} persistence quiet splash loglevel=2 systemd.unit=multi-user.target

label local
  menu label Boot from local disk
  COM32 chain.c32
  APPEND hd0
  say "Booting from the first hard drive"
