 <!-- HighAsCG: Caspar channel 3: Screen 2 program output (PGM) -->
        <channel>
            <video-mode>1080p5000</video-mode>
            <channel-layout>stereo</channel-layout>
            <consumers>
             <decklink>
               <device>1</device>
                 <key-device>2</key-device>
             <keyer>internal</keyer>
	     </decklink>
		<decklink>
               <device>2</device>
                 
             <key-only>true</key-only>
             </decklink>
            </consumers>
            <mixer>
                <audio-osc>true</audio-osc>
            </mixer>
        </channel>