/* Headless HighAsCG: udisks2 mount/eject for casparcg (systemd service / no TTY).
 * Includes *-other-seat actions required when not on an active logind seat.
 *
 * Install: sudo bash scripts/setup/13-usb-ingest.sh [casparcg]
 */
polkit.addRule(function (action, subject) {
	var YES = polkit.Result.YES
	var permission = {
		'org.freedesktop.udisks2.filesystem-mount': YES,
		'org.freedesktop.udisks2.filesystem-mount-system': YES,
		'org.freedesktop.udisks2.filesystem-mount-other-seat': YES,
		'org.freedesktop.udisks2.filesystem-mount-other-user': YES,
		'org.freedesktop.udisks2.filesystem-unmount': YES,
		'org.freedesktop.udisks2.filesystem-unmount-others': YES,
		'org.freedesktop.udisks2.eject-media': YES,
		'org.freedesktop.udisks2.eject-media-other-seat': YES,
		'org.freedesktop.udisks2.power-off-drive': YES,
		'org.freedesktop.udisks2.power-off-drive-other-seat': YES,
	}
	var allowed =
		subject.user == 'casparcg' ||
		(typeof subject.isInGroup === 'function' && subject.isInGroup('plugdev'))
	if (allowed) {
		return permission[action.id]
	}
})
